:root {
    --primary-clr: #1677ff;
    --secondary-clr: #79589fd9;
  
    --text-clr: hsl(193, 21%, 92%);
    --brown-clr:#9e1327;
    --gray-clr: #94a3b8;
    --green-clr:#047857;
    --bg-clr:#f4f5f6;
  }

.common-flex{
    display: flex;
    
}
.common-col{
    display: flex;
    flex-direction: column;
}
.a-start{
  align-items: flex-start;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.j-bet{
  justify-content: space-between;
}
.mar-sm{
  margin: 1rem 0;
}
.cur-pointer{
    cursor: pointer;
}
.common-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.8rem;
}
.sidebar-container{
  margin: 1rem 0.5rem;
}
.white-bg{
  background-color: white;
}
.pd-sm{
  padding: 0.5rem;
}
.border-sm{
  border-radius: 5px;
}
.navbar-container{
  background-color: var(--primary-clr);
  padding: 0.5rem;
}
.navbar-container p{
  color: var(--text-clr);
}

/* login */
.login-container{
    height: 100vh;
    background-color: var(--bg-clr);
}
.ant-form-item-control-input-content{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.dashboard-container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap:1rem
}
.feat-container{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem
}