:root {
    --primary-clr: #79589f;
    --secondary-clr: #79589fd9;
  
    --text-clr: hsl(193, 21%, 92%);
    --brown-clr:#9e1327;
    --gray-clr: #94a3b8;
    --green-clr:#047857;
    --bg-clr:#f4f5f6;
  }

.common-flex{
    display: flex;
    
}
.common-col{
    display: flex;
    flex-direction: column;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.cur-pointer{
    cursor: pointer;
}
.common-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.8rem;
}
.white-bg{
  background-color: white;
}
.pd-sm{
  padding: 0.5rem;
}
.border-sm{
  border-radius: 5px;
}
.btn-primary {
    background-color: var(--primary-clr);
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 8px;
    border: none;
    border: 1px solid var(--primary-clr);
  }
  .btn-primary:focus{
    outline: none;
  }
  .btn-primary:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }

  .btn-secondary {
    background-color: #f8fafc;
    color: var(--primary-clr);
    border-radius: 5px;
    padding: 5px 8px;
    border: 2px solid var(--primary-clr);
  }
  .btn-secondary:hover {
    cursor: pointer;
    border: 2px solid var(--primary-clr);
    background-color: #f1f5f9;
  }

/* login */
.login-container{
    height: 100vh;
    background-color: var(--bg-clr);
}
.ant-form-item-control-input-content{
   display: flex;
   align-items: center;
   flex-direction: column;
}